/* ----- generic top-level css ----- */

body {
    background-color: #292929;
    color: white;
}

#all {
    display: flex;
    flex-direction: row;
    width: 1000px;
}

#canvas-column {
    display: flex;
    flex-direction: column;
}

#theviewport {
    border: 1px solid;
}

/* ----- selected info css ----- */

#selected-info {
    display: flex;
    flex-direction: column;
}

#selected-hex-info {
    height: 2em;
    padding: 5px;

    display: flex;
    align-items: center;
}

#selected-unit-info {
    background: #ff9b54;
    border: 1px solid;
    border-radius: 5px;
    height: 5em;
    padding: 5px;
}

/* ----- event-queue css ----- */

#event-queue-column {
    background: #ea80ff;
    border-radius: 5px;
    display: flex;
    flex: auto;
    flex-direction: column;
    border: 1px solid;
    padding: 5px;
}

#event-queue {
    display: flex;
    flex-direction: column;
}

#event-queue div:first-child {
    background: #ff9b54;
    margin-left: 0;
    border: 5px double;
}

#event-queue div:nth-child(odd) {
    background: #ff9b54;
}

#event-queue div:nth-child(even) {
    background: #2a51fa;
}

#event-template {
    border: 1px solid white;
    border-radius: 10px;
    display: none;
    margin: 1px;
    margin-left: 15px;
    padding: 5px;
}

/* ----- active-unit css ----- */

#active-unit {
    display: flex;
    flex-direction: row;
}

#active-unit-stats {
    border: 1px solid white;
    border-radius: 5px;
    background: #2a51fa;
    height: 5em;
    flex-grow: 1;
    font-weight: bold;
    margin: 5px;
    padding: 5px;

    display: flex;
    flex-direction: column;
}

#active-unit-actions {
    flex-grow: 4;

    display: flex;
    flex-direction: row;
}

#action-template {
    background: #2a51fa;
    border: 3px solid white;
    border-radius: 10px;
    color: white;
    display: none;
    font-size: large;
    font-weight: bold;
    margin: 5px;
    padding: 20px;
    width: 25%;
}
